version: '3.8'

services:
  web:
    build: ./backend/
    working_dir: /usr/src/app/backend/
    command: gunicorn --bind 0.0.0.0:5000 "app:create_app()"
    expose:
      - 5000
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
  frontend:
    depends_on:
      - web
    build:
      context: frontend/
      dockerfile: Dockerfile
    ports:
      - 80:80
volumes:
  postgres_data:
